        body{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #000;
            margin: 0;
            font-family: Arial, sans-serif;
        }

        .container{
            width: 400px;
            height: 400px;
            display: grid;
            grid-template-columns: repeat(40, 1fr);
            grid-template-rows: repeat(20, 1fr);
            gap: 2px;
        }

        .sqaure{
            width: 100%;
            height: 100%;
            background-color: #111;
            border-radius: 2px;
			border:1px solid white;
            transition: background-color 1s ease;
			gap:5px;
        }